.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
  /* Nilai z-index yang lebih tinggi */
}

.modal-content {
  max-width: 30%;
  max-height: 70%;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: auto;
  padding: 0px;
  z-index: 1000;
  /* Nilai z-index yang lebih tinggi */
}

/* Tambahkan aturan berikut untuk tombol close (x) */
.close {
  position: absolute;
  top: 1px;
  right: 1px;
  font-size: 60px;
  color: #fff;
  cursor: pointer;
  z-index: 1001;
  /* Nilai z-index yang lebih tinggi */
}

/* Tambahkan aturan berikut untuk gambar */
.img-container {
  position: relative;
  z-index: 998;
  /* Nilai z-index di bawah modal */
}

.modal-image {
  width: 100%;
  height: 30%;
  max-width: none;
  /* Hilangkan pembatasan lebar maksimum */
  max-height: none;
  /* Hilangkan pembatasan tinggi maksimum */
  object-fit: contain;
  /* Menggunakan object-fit agar gambar tetap besar */
}

.bg-red-falcon {
  background-color: #530202 !important;
}

.bg-menyala-falcon {
  background-color: #FF0000 !important;
}

.text-type {
  font-size: x-large;
  color: #FF0000;
}

.text-color {
  color: #FF0000;
}

.text-wite {
  color: #ffffff;
}

.text-color-red {
  color: #530202;
}

.custom-button {
  border: 2px solid red;
  /* Red border */
  background-color: transparent;
  /* Transparent background */
  color: red;
  /* Red text color */
  padding: 10px 20px;
  /* Padding for button size */
  border-radius: 30px;
  /* Rounded corners */
  font-size: 16px;
  /* Text size */
  font-weight: bold;
  /* Bold text */
  text-transform: uppercase;
  /* Uppercase text */
  cursor: pointer;
  /* Pointer on hover */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth hover transition */
}

.custom-button:hover {
  background-color: red;
  /* Red background on hover */
  color: white;
  /* White text on hover */
}

.program-section {
  background-color: #660000;
  padding: 20px;
}

.program-title {
  text-align: center;
  color: #530202;
  font-size: 40px;
  margin-bottom: 20px;
}

.program-card {
  display: flex;
  background-color: transparent;
  color: white;
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  border-top: 2px solid white;
  /* Border on top */
  border-bottom: 2px solid white;
  /* Border on bottom */
  border-left: none;
  /* No border on left */
  border-right: none;
  /* No border on right */
}

.program-image {
  width: 50%;
  height: auto;
  border-radius: 10px;
}

.program-details {
  width: 45%;
  padding: 10px;
}

.program-details h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ffffff;
  /* Yellow heading */
}

.program-details p {
  font-size: 16px;
  margin-bottom: 15px;
}

.button-container {
  text-align: center;
  /* Centers the button */
  margin-top: 20px;
}

.view-more-button {
  border: 2px solid red;
  /* Red border */
  background-color: transparent;
  /* Transparent background */
  color: red;
  /* Red text color */
  padding: 10px 20px;
  /* Padding for button size */
  border-radius: 30px;
  /* Rounded corners */
  font-size: 16px;
  /* Text size */
  font-weight: bold;
  /* Bold text */
  text-transform: uppercase;
  /* Uppercase text */
  cursor: pointer;
  /* Pointer on hover */
  transition: background-color 0.3s, color 0.3s;
  /* Smooth hover transition */
  text-align: center;
}

.view-more-button:hover {
  background-color: white;
  color: #aa0000;
}